veraenv/
venv/
surveys/
logs/
*.pyc
.flaskenv
client_secret.json
credentials.json

# for now
config.py

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
