/* Global */

a:focus, .btn:focus, .btn:active {
  outline: none; !important;
  box-shadow: none; !important;
}

ul {
    list-style: none;
}

.breadcrumb {
  background-color: #fff;
  padding: .75rem 0rem;
  margin-bottom: 0rem;
}

.grade-badge {
  padding: .25rem;
  border-radius: 4px;
  font-family: Roboto;
  font-size: 17px;
  font-weight: 900;
  color: #ffffff;
}

/* Dashboard */

.dashboard-active {
  box-shadow: 0 1px 2px 0 rgba(22, 38, 59, 0.4);
  background-color: #ffffff;
}

.dashboard-list li:not(.completed) {
  border: none;
}

.dashboard-list li:not(.completed) .fa-check {
  color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #6c757d;
}

.dashboard-list div {
  font-weight: 500; 
  font-size: .95rem;
  color: #16263b;
}

.dashboard-action {
  width: 8rem;
}

.dashboard-action a {
  font-weight: 600;
  -webkit-appearance: initial;
}

.score-A {
  background-color: #2ECC40;
}

.score-B {
  background-color: #3D9970;
}

.score-C {
  background-color: #FFDC00;
}

.score-D {
  background-color: #FF851B;
}

.score-F {
  background-color: #f5496c;
}

/* Report */

.show-link {
  font-size: 13px;
  font-weight: bold;
  color: #0073a3;
}

#outputModal .modal-body {
  white-space: pre-wrap;
}

#outputModal .show_spinner {
  white-space: normal;
}

/* Collect */
.progress {
  margin-bottom: 1rem;
}

.answer select, .answer textarea {
  margin-inline-start: 40px;
}

.other_open .answer {
    padding-inline-start: 55px;
}

form textarea {
     width: 400px;
     height: 100px;
}

