a:focus {
  outline: none;
}

.btn-link:focus,
.btn-link:active {
  outline: none;
  border: none;
}

.col-nopadding {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

ul {
    list-style: none;
}