/* Global */

a:focus, .btn:focus, .btn:active {
  outline: none; !important;
  box-shadow: none; !important;
}

ul {
    list-style: none;
}

.breadcrumb {
  background-color: #fff;
  padding: .75rem 0rem;
  margin-bottom: 0rem;
}

.grade-badge {
  padding: .25rem;
  border-radius: 4px;
  font-family: Roboto;
  font-size: 17px;
  font-weight: 900;
  color: #ffffff;
}


/* Dashboard */
.dashboard-action {
  width: 8rem;
}

.score-A {
  background-color: #2ECC40;
}

.score-B {
  background-color: #3D9970;
}

.score-C {
  background-color: #FFDC00;
}

.score-D {
  background-color: #FF851B;
}

.score-F {
  background-color: #f5496c;
}

/* Report */

.show-link {
  font-size: 14px;
  font-weight: bold;
  color: #0073a3;
}

#outputModal .modal-body {
  white-space: pre-wrap;
}

#outputModal .show_spinner {
  white-space: normal;
}

/* Collect */
.progress {
  margin-bottom: 1rem;
}

.answer select, .answer textarea {
  margin-inline-start: 40px;
}

.other_open .answer {
    padding-inline-start: 55px;
}

form textarea {
     width: 400px;
     height: 100px;
}

