{% extends 'home.html' %}

{% block header %}
    <h1>{% block title %}Dashboard{% endblock %}</h1>
{% endblock %}

{% block breadcrumb %}
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb" style="font-size: 0.75rem; font-weight: bold;">
      <li class="breadcrumb-item active text-muted" aria-current="page">
        <a class="text-muted">DASHBOARD</a> 
      </li>
    </ol>
  </nav>
{% endblock%}

{% macro dashboard_data(data, prev) %}
{% set module = data.module %}
{% set prev_completed = (prev and prev.completed) %}

    {% if data.completed %}
    <li class="list-group-item my-1 p-2 completed">
        <div class="d-flex">
            <i class="align-self-center m-2 fas fa-check text-success"></i> 

            <div class="flex-grow-1 w-100">
                <div>
                {{ module.capitalize() }} 
                </div>
                <small>
                    Completed on: {{data.completed | strftime }}
                </small>
                <small class="px-2">
                    Score:
                    <span class="grade-badge badge score-{{data.grade}}">{{data.score}}</span>
                </small>
            </div>

            <div class="dashboard-action flex-shrink-1 align-self-center">
                <a class="btn btn-default btn-sm text-muted" href="{{ url_for('report.show_report', module=module)}}">
                    <i class="fas fa-clipboard-list"> View Report </i>
                </a>
            </div>
        </div>
    </li>

    {% elif prev_completed or module == 'asset' %}
    <li class="list-group-item my-1 p-2 dashboard-active">
        <div class="d-flex">
            <i class="align-self-center m-2 fas fa-check"></i> 

            <div class="flex-grow-1 w-100">
                <div>
                    {{ module.capitalize() }} 
                </div>

                    <small>
                    {% if not data.completed and data.started %}
                        Started on: {{data.started | strftime }}
                    {% else %}
                        Click start to begin
                    {% endif %}
                    </small>
            </div>

            <div class="dashboard-action flex-shrink-1 text-center align-self-center">
                {% if not data.completed and data.started %}
                    <a type="button" class="btn btn-success btn-sm text-dark" href="{{ url_for('survey.collect', module=module)}}">Continue</a>
                {% else %}
                    <a type="button" class="btn btn-primary btn-sm rounded" href="{{ url_for('survey.start', module=module)}}">Start Survey</a>
                {% endif %}
            </div>
        </div>
    </li>

    {% else %}
    <li class="list-group-item bg-light my-1 p-2">
        <div class="d-flex">
            <i class="align-self-center m-2 fas fa-check"></i> 

            <div class="flex-grow-1 w-100">
                <div class="font-weight-bold">
                    {{ module.capitalize() }} 
                </div>
                <small>
                    Complete the previous module to unlock.
                </small>
            </div>
        </div>
    </li>
    {% endif %}

{% endmacro %}

{% block content %}

{% if overall.score %}
  <div class="d-flex border-top pt-4 pb-2"> 
    <div class="flex-grow-1 w-50 text-muted">
    </div>

      <div class="text-dark flex-grow-1 w-50 text-right">
        Overall Program Score 
        <span class="grade-badge overall-grade badge score-{{overall.grade}}">{{overall.score}}</span>
      </div>
  </div> 
  {% endif %}

    <ul class="list-group dashboard-list">
        {% for module in data %}
            {{ dashboard_data(module, loop.previtem) }}
        {% endfor %}
    </ul>

    {% if current_user.is_admin and current_user.admin_controls_on %}
    <div class="card my-5 w-50">
        <div class="card-body">
            <h5 class="card-title">Admin Options</h5>
            <a class="card-link" href="{{ url_for('report.show_all_reports', module=module) }}">View ALL Data</a>
            <a class="card-link" href="{{ url_for('report.delete_survey') }}">Clear My Answers</a>
        </div>
    </div>
    {% endif %}

{% endblock %}
