{% extends 'home.html' %}

{% block header %}
    <h1>{% block title %}Dashboard{% endblock %}</h1>
{% endblock %}

{% macro dashboard_data(data, prev) %}
{% set module = data[0] %}
{% set completed = data[1] %}
{% set prev_completed = (prev and prev[1]) %}

{% if completed %}

    <li class="list-group-item list-group-item-success">
        <div class="row">
            <div class="col-md-11">
                {{ module.capitalize() }} 
                <br/>
                <small>
                    Completed on: {{completed | strftime }}
                </small>
            </div>

            <div class="col-md-1">
                <button class="btn btn-default btn-xs pull-right" onclick="window.location.href='{{ url_for('report.show_report', module=module ) }}'">
                    View Report
                </button>
            </div>
        </div>
    </li>

{% elif prev_completed or module == 'asset' %}
    <li class="list-group-item list-group-item-info">
        <div class="row">
            <div class="col-md-11">
                {{ module.capitalize() }} 
            </div>

            <div class="col-md-1">
                <button class="btn btn-success btn-xs pull-right" onclick="window.location.href='{{ url_for('survey.start', module=module ) }}'">
                    Start
                </button>
            </div>
        </div>
    </li>
{% else %}
    <li class="disabled list-group-item list-group-item-default">
        {{ module.capitalize() }} 
        <br/>
        <small>
        Please complete the previous survey to unlock.
        </small>
    </li>
{% endif %}

{% endmacro %}

{% block content %}
    <div class="panel panel-primary panel-sm">
        <div class="panel-heading">Your Surveys</div>
            <ul class="list-group">
            {% for module in data %}
                {{ dashboard_data(module, loop.previtem) }}
            {% endfor %}
            </ul>
    </div>

    {% if current_user.is_admin and current_user.admin_controls_on %}
    <div class="panel panel-default panel-sm">
        <div class="panel-heading">ADMIN</div>
        <li class="list-group-item list-group-item">
            <a href="{{ url_for('report.show_all_reports', module=module) }}">View ALL Data</a>
            <a type="button" class="btn btn-xs btn-danger pull-right" href="{{ url_for('report.delete_survey') }}">Clear My Answers</a>
        </li>
    </div>
    {% endif %}
{% endblock %}
