{% extends 'bootstrap/base.html' %}

{%- block styles %}
<!-- Bootstrap -->
{{super()}}
<link href="{{url_for("static", filename="styles.css")}}" rel="stylesheet">
<link href="{{url_for("static", filename="styles.scss")}}" rel="stylesheet">
{%- endblock styles %}

{% block body %}
  {% block navbar %}
    <nav class="navbar navbar-light bg-light navbar-expand-lg">

          <a class="navbar-brand" href="">
          </a>

          <button type="button" class="navbar-toggler collapsed" data-toggle="collapse" data-target="#navbar-content" aria-expanded="false">
            <span class="navbar-toggler-icon"></span>
          </button>

        <div class="collapse navbar-collapse" id="navbar-content">

          <ul class="navbar-nav ml-auto">
              
            <li class="nav-item dropdown" aria-labelledby="navbarDropdown">
              {% if current_user.is_anonymous %}
                <a class="dropdown-item" href="{{ url_for('user.login') }}">Login</a>
              {% else %}
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                 <strong> {{current_user.username}} </strong>
                </a>

                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">

                  {% if current_user.is_admin %}
                    <a class="dropdown-item" href="#" id="toggle_admin_controls">
                      admin 
                      {% if current_user.admin_controls_on %}
                       <span class="text-success">on</span>
                       {% else %}
                       <span class="text-danger">off</span>
                      {% endif %}
                    </a>
                  {% endif %}

                  <a class="dropdown-item" href="{{ url_for('main.profile')}}">Profile</a>
                  <a class="dropdown-item" href="{{ url_for('main.index')}}">Dashboard</a><a class="dropdown-item" href="{{ url_for('user.logout') }}">Logout</a>

                </div>
              {% endif %}
            </li>
          </ul>
        </div>

    </nav>

  {% endblock %}

    <div id="main-div" class="container">
    {% block breadcrumb %}
    {% endblock%}

    {# One-time system messages called Flash messages #}
    {% block flash_messages %}
        {%- with messages = get_flashed_messages(with_categories=true) -%}
            {% if messages %}
                {% for category, message in messages %}
                    {% if category=='error' %}
                        {% set category='danger' %}
                    {% endif %}
                    <div class="alert alert-dismissible alert-{{category}}">
                      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                      {{ message|safe }}
                    </div>
                {% endfor %}
            {% endif %}
        {%- endwith %}
    {% endblock %}

    {% block main %}
        {% block content %}{% endblock %}
    {% endblock %}
    </div>

{% block scripts %}
  {{super()}}
{% endblock %}

{# *** Allow sub-templates to insert extra html to the bottom of the body *** #}

  {% block extra_js %}
      <script type="text/javascript" src={{url_for("static", filename="js/framework.js")}}></script>
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
  {% endblock %}
{% endblock %}
