{% extends 'flask_user/_authorized_base.html' %}

{% block breadcrumb %}
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb" style="font-size: 0.75rem; font-weight: bold;">
      <li class="breadcrumb-item active text-muted" aria-current="page">
        <a class="text-muted">USER PROFILE</a> 
      </li>
    </ol>
  </nav>
{% endblock%}

{% block content %}
    <h1>{{ user.username }}</h1>
    <hr>
    <h5>Email: {{user.email}} </h5>

{% if not user_manager.USER_ENABLE_AUTH0 %}
    {% if user_manager.USER_ENABLE_CHANGE_USERNAME %}
        <p class="m-1">
            <a href="{{ url_for('user.change_username') }}">Change username</a>
        </p>
    {% endif %}
    {% if user_manager.USER_ENABLE_CHANGE_PASSWORD %}
        <p class="m-1">
            <a href="{{ url_for('user.change_password') }}">Change password</a>
        </p>
    {% endif %}
{% endif %}

{% if current_user.is_admin and current_user.admin_controls_on %}
    <hr>
    <div>
        <h5>Admin: {{'admin' in user.roles}}</h5>
        <a id="toggle_admin_user" data-user="{{user.username}}" href="#">
            Toggle Admin Account
        </a>
    </div>
    <hr>
{% endif %}

    <p class="mt-3">
        <a href="{{ url_for('main.dashboard') }}">Return to Dashboard</a>
    </p>
{% endblock %}

{% block extra_js %}
  {{super()}}
  <script type="text/javascript" src={{url_for("static", filename="js/profile.js")}}></script>
{% endblock %}
