{% extends 'home.html' %}

{% block header %}
  <h1>{% block title %}Questionaire{% endblock %}</h1>
{% endblock %}

{% block content %}
Progress
<div class="progress">
    <div class="progress-bar" role="progressbar" aria-valuenow="2" aria-valuemin="0" aria-valuemax="10" style="width: {{progress}}%;">
        <span class="sr-only">{{progress}}% Complete</span>
    </div>
</div>

<div class="card">

    {% block questions %}
    {% endblock %}
</div> 
{% endblock %}

{% block extra_js %}
    {{super()}}
    <script type="text/javascript" src={{url_for("static", filename="js/collect.js")}}></script>
{% endblock %}
