{% extends 'collect.html' %}

{% block header %}
  <h1>{% block title %}Questoinnaire{% endblock %}</h1>
{% endblock %}

{% block questions %}

    <div class="card-body">
        <h2>
            {% if module == 'asset' %}
                Let’s assess the tracking and security of your assets
            {% elif module == 'governance' %}
                Let’s assess your organizational governance
            {% elif module == 'risk' %}
                Let’s assess your risk management program 
            {% elif module == 'remediation' %}
                Let’s assess how technology is used to secure your assets
            {% else %}
                Please answer the following questions regarding your organizations security profile...
            {% endif %}
        </h2>
        <br/>
        <br/>
        <p>Click Start to begin</p>

    </div>
    <div class="card-footer text-right text-muted">
        <a type="button" class="continue btn btn-default pull-right" href="{{ url_for('survey.collect', module=module)}}">Start</a>
    </div>

{% endblock %}

