{% extends 'collect.html' %}

{% block header %}
  <h1>{% block title %}Questoinnaire{% endblock %}</h1>
{% endblock %}

{% block questions %}

    <div class="card-body">
        <h2> Welcome, please answer the following questions about...</h2>
        <br/>
        <br/>
        <p>Click Start to begin</p>

    </div>
    <div class="card-footer text-right text-muted">
        <a type="button" class="continue btn btn-default pull-right" href="{{ url_for('survey.collect', module=module)}}">Start</a>
    </div>

{% endblock %}

