{% extends 'collect.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% macro with_errors(field) %}

    <div class="form_field">
      {% if field.errors %}

          {% set css_class = 'has_error ' + kwargs.pop('class', '') %}
          {{ field(class=css_class, **kwargs) }}

          <div class="errors">
            {% for error in field.errors %}
              <p>{{ error }}</p>
            {% endfor %}
          </div>

      {% else %}

          <ul class="answer"> 
            {{ field(**kwargs) }} 
          </span>

      {% endif %}
    </div>
{% endmacro %}

{% block header %}
  <h1>{% block title %}Questoinnaire{% endblock %}</h1>
{% endblock %}

{% block content %}

  {% if form %}
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <br/>

        {% for q in form %}

          {% if q | has_open %}
            <span class="other_open option">{{ with_errors(q) }}</span>
          {% elif q.type != "CSRFTokenField" and q.type != "SubmitField" %}

            <div class="question">
                <h3 class="question-text">{{ q.label }}</h3> 
                <span class="option">{{ with_errors(q) }}</span> 
            </div>

          {% endif %}

        {% endfor %}
      <br/><br/>
      <input class="pull-right" type="submit" value="Continue">
    </form>
  {% else %}
    <form action="" method="post">
      <input type="submit" value="Continue">
    </form>
  {% endif %}

{% endblock %}

