{% extends 'collect.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% macro with_errors(field) %}

    <div class="form_field">
      {% if field.errors %}

          {% set css_class = 'answer has_error' + kwargs.pop('class', '') %}
          {{ field(class=css_class, **kwargs) }}

          <ul class="answer errors">
            {% for error in field.errors %}
              <li class="text-danger"><strong>{{ error }}</strong></li>
            {% endfor %}
          </ul>

      {% else %}

          <div class="answer"> 
            {{ field(**kwargs) }} 
          </div>

      {% endif %}
    </div>
{% endmacro %}

{% block header %}
  <h1>{% block title %}Questoinnaire{% endblock %}</h1>
{% endblock %}

{% block questions %}

  {% if form %}
      <form action="" method="post">
        <div class="panel-body">
          {{ form.hidden_tag() }}
          <br/>

          {% for q in form %}

            {% if q | has_open %}
              <span class="other_open option">{{ with_errors(q) }}</span>
            {% elif q.type != "CSRFTokenField" and q.type != "SubmitField" %}

              <div class="question">
                  <h4 class="question-text">{{ q.label }}</h4> 
                  <span class="option">{{ with_errors(q) }}</span> 
              </div>

            {% endif %}

          {% endfor %}
        </div>
        <input class="continue btn btn-default pull-right" type="submit" value="Continue">
      </form>
  {% endif %}

{% endblock %}

