{% extends 'collect.html' %}

{% block header %}
  <h1>{% block title %}Questoinnaire{% endblock %}</h1>
{% endblock %}

{% block content %}

    <form action="" method="post">
      <div class="question">
        <h1 class="question-text"> {{ form.r.label}} {{form.r.flags.open}} </h1>
        <div class="answers">
          {% for field in form.r %}
          <div>
            <span> {{ field }} {{field.label}} </span>
            value: {{field.value}}
            name: {{field.name}}
            type: {{field.type}}
            meta: {{field.meta}}
          </div>
          {% endfor %}
        </div> 
      </div>
        {{ form.sometext() }}
    </form>
    
{% endblock %}

